hr{
    border-top: 1px solid #aaa !important;
}
.main_content{
    width: 90%;
    min-width: 820px;
    margin: 20px auto 0;
    padding-left: 50px;
    overflow: hidden;
}
.text-scroll{
    width: 300px;
    margin: 0 auto;
    color: #45292a;
    font-size: 36px;
}
.main{
    display: flex;
    width: 100%;
    height: 250px;
}
.main_item{
    height: 100%;
}
.left_category{
    flex: 1;
    min-width: 200px;
    border: 1px solid #ccc;
}
.middle_swiper{
    flex: 2;
    min-width: 640px;
    border: 1px solid #ccc;
}
.right_release{
    flex: 1;
    min-width: 200px;
    border: 1px solid #ccc;
}
.mod_static_img{
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.mod_static_img img{
    width: 100%;margin-top: -10px;
}
.subtitle{
    cursor: text;
}
.category_btn{
    width: 100%;
    height: 42.5px;
    text-align: left;
    line-height: 42.5px;
    font-size: 18px;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
    cursor: default;
}
.category_title h2{
    font-family: 'Microsoft Yahei';
}
.category_btn:hover{
    background: #ccc;
}
.swiper-container {
    width: 100%;
    height: 250px;
}
.mod_release_btn{
    width: 100%;
    height: 130px;
    background: #ccc;
    text-align: center;
}
.main-title{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.main-title{
    margin-top: 40px;
    font-family: 'Microsoft Yahei';
    font-size: 20px;
}
.category_content{
    display: flex;
    flex-direction: column;
    width: 860px;
    float: left;
}
.category_title h3{
    background: #ccc;
}
.digital_item, .book_item, .other_item, .cosmetic_item, .peripherals_item, .travel_item{
    flex: 1;
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    border-bottom: 1px dotted #aaa;
}
.dig_item, .bk_item, .oth_item, .cos_item, .peri_item, .tra_item{
    list-style: none;
    float: left;
    margin: 0 5px 22px 0px;
    width: 182px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: #fefefe;
}
ul.cate_item_list{
    width: 800px;
    margin: 0 auto;
}
.item_pic{
    width: 100%;
    overflow: hidden;
    height: calc(100% - 60px);
}
.item_pic:hover{
    transform: scale(1.2);
}
.item_main_image, .item_default_image{
    height: 100%;
}
.item_title{
    text-align: right;
    margin: 5px 0px;
}
.price_item{
    text-align: right;
}
.price_item p{
    color: red;
}
.glyphicon-yen{
    color: #999;
}

.adviss_btn{
    width: 250px;
    position: fixed;
    bottom: 20px;
    right: 60px;
}