{% extends 'base.html' %}
{% block title %}书籍{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
<style type="text/css">
    .header{
        width: 90%;
        min-width: 1280px;
        height: 60px;
        margin: 60px auto 20px;
        border: 1px solid #ccc;
        border-top: 2px solid #bbb;
    }
    .user_div{
        width: 260px;
        height: 100%;
        border-right: 1px solid #bbb;
        float: left;
        position: relative;
    }
    .profile_image{
        width: 30px;height: 30px;
        position: absolute;
        left: 15%;top: 50%;transform: translate(-50%,-50%);
    }
    .simple{
        width: 180px;height:60px;
        position: absolute;
        left: 60%;top: 50%;transform: translate(-50%,-50%);
    }
    .main_wrap{
        width: 90%;
        min-width: 1280px;
        margin: 0 auto 50px;
        overflow: hidden;
    }
    .item_img_swiper{
        width: 730px;
        height: 490px;
        float: left;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item_property{
        width: 440px;
        float: left;
        margin-left: 20px;
    }
    .swiper-container{
        width: 100%;
        height: 100%;
    }
    .swiper-slide{
        background: #eee;
        overflow: hidden;
    }
    .item_img{
        height: 100%;
        position: absolute;
        left: 50%;top: 50%;
        transform: translate(-50%,-50%);
    }
    .btn_buy{
        width: 160px;
    }
    .item_desc{
        width: 960px;margin-left: 30px;
        text-align: left;
    }
    .desc_info_title{
        margin-bottom: 10px;
    }
    .desc_info_title span{
        font-size: 22px;
        color: #999;
        font-weight: 700;
        border-bottom: 2px dotted #333;
    }
    .desc_info_simple p{
        font-size: 18px;
        font-family: "宋体";
    }
    .desc_info_simple p span:first-child{
        color: #333;
        background: #bbb;
        border:1px solid #aaa;
        border-left: none;
        padding: 5px 10px;
    }
    .desc_info_simple p span:last-child{
        border:1px solid #aaa;
        border-right: none;
        padding: 5px 10px;
    }
</style>
{% endblock css %}
{% block body %}
    {% block content %}
    {% if item %}
    <div class="header">
        <div class="user_div">
            {%if current_user.profile_image %}
            <img class="profile_image" src="/var/profile_images/{{current_user.profile_image}}">
            {%else%}
            <img class="profile_image" src="/var/profile_images/default_profile_image.jpg">
            {%endif%}
            <div class="simple">
                <p>{{ current_user.account }}</p>
                <p>注册于:{{ current_user.created_time }}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="main_wrap">
            <div class="item_img_swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for img in images %}
                        <div class="swiper-slide"><img class="item_img" src="/var/item_images/{{img.filename}}" alt=""></div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="item_property">
                <h3>{{ item.name }}</h3>
                <p>转卖价：<span class="glyphicon glyphicon-yen"></span>{{ item.price }}</p>
                <hr>
                <p> &nbsp;</p>
                <p>成色： 非全新</p>
                <p>联系方式： {{current_user.telephone}}</p>
                <p class="p">最近编辑</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.update_time }}</p>
                <p title="线下交易，本平台只提供联系方式，由双方同意之后提供联系方式">交易方式： 线下</p>
                <button type="button" class="btn btn-danger btn_buy" onclick="location.href='/order/confirm_order'">立即购买</button>
            </div>
        </div>
        <div class="item_desc">
            <div class="desc_info_title">
                <span>宝贝介绍</span>
            </div>
            <p>如遇到以下情况可能是诈骗行为： <b style="color: #f60;">1.宝贝价格异常低；2.卖家要求QQ沟通；3.卖家要求直接汇款。</b></p>
            <hr>
            <div class="desc_info_simple">
                <p><span>宝贝类别：</span><span>{{item.category}}</span></p>
                <p><span>卖家留言：</span><span>{{item.describe}}</span></p>
            </div>
        </div>
    </div>
    {% else %}
        <h3>出错啦</h3>
    {% endif %}
    {% endblock content %}
    


    {% block js %}
        {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script>
        $('html').height($('body').height());
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable :true,
            },
        }); 
    </script>
    {% endblock js %}
{% endblock body %}


















    
