{% extends "home_base.html" %}
{% block title %}个人中心{% endblock title %}
{% block css %}
{{ super() }}
<style type="text/css">
    .item_list_container{
        width: 100%;
    }
    .item_list_div{
        display: block;
        width: 99%;
        margin: 10px;
        border: 1px solid #eee;
    }
    .item_list_div > div{
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
    }
    .item_list_div > div:nth-child(2){
    }
    .item_list_div > div:nth-child(3){
        float: right;
        width: 10%;
        text-align: center;
        line-height: 100%;
    }
    .item_main_image{
        width: 100px;
        height: 100px;
        background: #eee;
        border: none;
    }
</style>
{% endblock css %}

{% block home_right_container %}
<div class="item_list_container">
    {% if items%}
        {%for item in items%}
        <div class="item_list_div">
            <div>
                {%if item.main_image %}
                    <img class="item_main_image" src="/var/item_images/{{item.main_image}}">
                {%else%}
                    <img class="item_main_image">
                {%endif%}
            </div>
            <div>
                <div>{{item.name}}</div>
                <div>{{item.describe}}</div>
            {{['未发布', '已发布', '锁定中', '已卖出', '已删除'][item.status]}}
            </div>
            <div>
                {%if item.status==0 %}
                    <button onclick="window.location.href='/page/edit_item?sn={{item.sn}}'">修改</button>
                    <button onclick="change_status('{{item.sn}}', 1)">发布</button>
                    <button onclick="change_status('{{item.sn}}', 4)">删除</button>
                {%elif item.status==1 %}
                    <button onclick="change_status('{{item.sn}}', 0)">取消发布</button>
                    <button onclick="change_status('{{item.sn}}', 4)">删除</button>
                {%elif item.status==2 %}
                    <button onclick="window.location.href='/page/edit_item?sn={{item.sn}}'">查看</button>
                {%elif item.status==3 %}
                    <button onclick="window.location.href='/page/edit_item?sn={{item.sn}}'">查看</button>
                    <button onclick="change_status('{{item.sn}}', 0)">取消发布</button>
                    <button onclick="change_status('{{item.sn}}', 4)">删除</button>
                {%endif%}
            </div>
        </div>
        {%endfor%}
    {%else%}
        <div>no items</div>
    {%endif%}

</div>
{% endblock home_right_container %}

{% block js %}
{{ super() }}
<script type="text/javascript">
function change_status(item_sn, status){
    $.ajax({
        url:"/item/"+item_sn+'/status/'+status,
        type:'GET',
        dataType: 'json',
        success:function(Data){
            console.log(Data);
            if (Data.code==0){
                location.reload();
            }else{
                alert(Data.msg);
            }
        },
        error:function(){
          alert("change status error");
        }
    });
}
</script>
{% endblock js %}
