{% extends "base.html" %}
{% block title %}个人中心{% endblock title %}
{% block css %}
<style type="text/css">
    .info_div{
        display: inline-block;
        width:200px;
        margin: 10px auto 0;
        vertical-align: top;
        border: 1px solid #eee;
        text-align: center;
        padding-bottom: 20px;
    }
    .profile_image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .change_image_btn{
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .change_image_btn input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .home_right_container{
        display: inline-block;
        width: calc(100% - 240px);
        min-height: 550px;
        margin: 20px;
        float: right;
        border-top: 1px solid #bbb;
    }
    .home_right_container::after{
　　　　　　content:"";
　　　　　　height:0;
　　　　　　line-height:0;
　　　　　　display:block;
　　　　　　visibility:hidden;
　　　　　　clear:both;
　　　　　}
    .edit_info_div div{
        width: 100%;
        height: 34px;
        border-bottom: 1px solid #bbb;
        margin-bottom: 10px;
    }
    .edit_info_div div button{
        width: 100%;height: 100%;
        border: none;
    }
</style>
{% endblock css %}
{% block body %}
<div class="info_div">
    <div>
        {%if current_user.profile_image %}
        <img class="profile_image" src="/var/profile_images/{{current_user.profile_image}}">
        {%else%}
        <img class="profile_image">
        {%endif%}
    </div>
    <div class="edit_info_div">
        <h2>{{current_user.account}}</h2>
        <div class="change_image_div"><button class="change_image_btn">修改头像<input type="file" accept="image/*"></button></div>
        <div class="publish_item_div"><button onclick="location.href='/page/edit_item'">发布商品</button></div>
        <div class="my_order_div"><button onclick="location.href='/page/orders'">我的订单</button></div>
        <div class="my_item_div"><button onclick="location.href='/page/home'">我的商品</button></div>
        <div class="address_div"><button onclick="location.href='/page/address'">收货地址管理</button></div>
    </div>
</div>

<div class="home_right_container">
   {% block home_right_container %}
    {% endblock home_right_container %}
</div>

{% endblock body %}
{% block js %}
{{ super() }}
<script type="text/javascript">
    $('.change_image_btn input').change(function(){
        var input = $(this);
        var files=input.prop('files');
        if (files.length > 0){
            input.attr('disabled','disabled');
            var file = files[0];
            var form_data = new FormData();
            form_data.append('file', file);
            $.ajax({
                url:"/profile_image",
                type:'POST',
                data: form_data,
                cache:false,
                processData:false,
                contentType:false,
                dataType: 'json',
                success:function(Data){
                    if (Data.code==0){
                        location.reload();
                    }else{
                        alert(Data.msg);
                    }
                },
                error:function(){
                  alert("upload error");
                },
                finally:function(){
                    input.removeAttr('disabled');
                }
            });
        };
    });

</script>
{% endblock js %}
