{% extends "home_base.html" %}
{% block title %}个人中心-地址管理{% endblock title %}
{% block css %}
{{ super() }}
<style type="text/css">
.address_list > div{
        background: #eee;
        margin: 20px;
        padding: 10px 20px;
        font-size: 1.8rem;
}
.add_address_dialog{
    display: none;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 10px 10px 10px #666;
    z-index: 9999;
    padding: 0 20px;
}
.form_add_div div{
    margin-top: 20px;
}
.form_add_div div span{
    display: inline-block;
    width: 20%;
    float: left;
}
.form_add_div div input{
    width: 75%;
}
.form_add_div div input[type=radio]{
    width: 10%;
}

</style>
{% endblock css %}

{% block home_right_container %}
<div class="address_list">
    {% if addresss %}
        {% for ad in addresss%}
        <div>
            <p>地址：{{ad.address}}</p>
            <p>
                <span class="people">联系人：{{ad.people}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="tel">手机：{{ad.mobile}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="is_del">是否默认：{{ad.is_default}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="float: right;" class="update_address_btn btn btn-danger" onclick="alert("功能尚未完成，敬请期待")">设为默认</button>
                <button style="float: right;" class="del_address_btn btn btn-danger" onclick="del_address('{{ad.sn}}')">删除</button>
            </p>
        </div>
        {% endfor %}
        <p style="text-align: right;margin-right: 20px;"><button class="btn btn-default" onclick="show_add_dialog()">再次添加</button></p>
    {% else %}
        <div style="text-align: center;">还没有收货地址哦～～，现在<button class="btn btn-default" onclick="show_add_dialog()">去添加</button></div>
    {% endif %}
</div>

<div class="add_address_dialog">
    <div style="text-align: right;"><button class="btn btn-info" onclick="close_add_dialog()">关闭</button></div>
    <div style="text-align: center;">
        <form class="form_add_div" action="/address" method="POST" onsubmit="return vaild_address_form()">
            <div><span>收件地址：</span><input class="form-control" type="text" name="address" placeholder="address"></div>
            <div><span>收件人：</span><input class="form-control" type="text" name="people" placeholder="people"></div>
            <div><span>联系方式：</span><input class="form-control" type="tel" name="mobile" placeholder="mobile"></div>
            <div>
                <span>是否默认：</span>
                是<input id="is_def" type="radio" name="is_default" value="1">
                否<input id="not_def" type="radio" name="is_default" value="0">
            </div>
            <div><button class="btn btn-info">保存</button></div>
        </form>
    </div>
</div>
{% endblock home_right_container %}

{% block js %}
{{ super() }}
<script type="text/javascript">
function vaild_address_form(){
    var has_empty_data = false;
    $(".add_address_dialog input").each(function(){
        if($(this).val()==''){
            has_empty_data = true;
        };
    });
    if (has_empty_data){
        alert("请填写完整");
        return false;
    }
}
function show_add_dialog(){
    $(".add_address_dialog").show();
}
function close_add_dialog(){
    $(".add_address_dialog").hide();
    $(".add_address_dialog input").val("");
}
function del_address(address_sn){
    $.ajax({
        url:"/address/"+address_sn,
        type:'DELETE',
        dataType: 'json',
        success:function(Data){
            console.log(Data);
            if (Data.code==0){
                location.reload();
            }else{
                alert(Data.msg);
            }
        },
        error:function(){
          alert("delete address error");
        }
    });
}
</script>
{% endblock js %}
