{% extends 'base.html' %}
{% block title %}确认订单{% endblock title %}
{% block css %}
<style type="text/css">
h4{
background: #eee;
padding: 5px 10px;
}
.order_info_div{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 50px;
}
.item_div img{
    width: 300px;
    height: 300px;
}
.order_btn_div{
    text-align: center;
    margin: 20px;
}
.choose_add{
    overflow: hidden;
}
.choose_add span{
    margin-right: 15px;
}
.choose_add button{
    float: right;
}
</style>
{% endblock css %}
{% block body %}
<div class="order_info_div">
    <h4>收货信息</h4>
    <div class="address_div">
        {% if address%}
        {% for add in address%}
        <div class="choose_add">
            <span>收件地址：<u>{{add.address}}</u></span><span>收件人：<u>{{add.people}}</u></span><span>联系方式：<u>{{add.mobile}}</u></span><input type="hidden" class="address_sn" name="address_sn" value="{{ add.sn}}">
            <button type="button" class="btn btn-info btn_choose_add">选择地址</button>
        </div>
        {% endfor%}
        {% else %}
        <div class="no_address_div">
            <p>暂无收货地址哦，<button>立即添加</button></p>
        </div>
        {% endif%}
        <div class="selected_add">
            <h4>已选择</h4>
            <p>收件地址： <span class="s_address"></span></p>
            <p>收件人 <span class="s_people"></span></p>
            <p>联系方式： <span class="s_mobile"></span></p>
        </div>
    </div>
    
    <h4>商品信息</h4>
    <div class="item_div">
        <div>
            {% if item.main_image %}
            <img src="/var/item_images/{{item.main_image}}">
            {% else %}
            <img src="{{ url_for('static', filename='img/store_icon.png') }}" alt="">
            {% endif %}
            <p><label>商品名称：</label>{{item.name}}</p>
            <p><label>商品分类：</label>{{item.category}}</p>
            <p><label>商品价格：</label>{{item.price}}</p>
        </div>
    </div>

</div>
<div class="order_btn_div">
    <button onclick="confirm_order()">提交订单</button>
    <button onclick="javascript:history.go(-1);">取消</button>
</div>

    
{% endblock body %}


{% block js %}
{{ super() }}
<script type="text/javascript">
    var form_data = new FormData();
    form_data.append('item_sn', '{{item.sn}}');
    $('.btn_choose_add').click(function(e){
        var add_sn = $(this).siblings().filter($('.address_sn')).val();
        var s_addr = $(this).siblings().children().eq(0).text();
        var s_peo = $(this).siblings().children().eq(1).text();
        var s_mob = $(this).siblings().children().eq(2).text();
        $('.s_address').text(s_addr);
        $('.s_people').text(s_peo);
        $('.s_mobile').text(s_mob);
        form_data.append('address_sn',add_sn);
    });
    
    
    
    function confirm_order(){
        $.ajax({
            url:"/order",
            type:'POST',
            data: form_data,
            cache:false,
            processData:false,
            contentType:false,
            dataType: 'json',
            success:function(Data){
                if (Data.code==0){
                    location.href="/page/order/"+Data.order_sn;
                }else{
                    alert(Data.msg);
                }
            },
            error:function(){
              alert("confirm order error");
            }
        });
    }
    
</script>
{% endblock js %}